.mgi_header__nav:hover .mgi_header__nav-dropdown {
  display: block;
}
.mgi_header__nav-dropdown::after {
  position: absolute;
  content: '';
  top: -20px;
  left: 0;
  right: 0;
  height: 30px;
}
.sticky {
  background: #fff;
  color: #222;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: all 0.5s ease-in-out;
  animation: stickyHiden 0.5s ease-in-out;
}
@keyframes stickyHiden {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.mgi_side-nav__base {
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.mgi_side-nav__open:checked ~ .mgi_side-nav__base {
  transform: translateX(0);
  opacity: 1;
}
.mgi_side-nav__base::-webkit-scrollbar {
  width: 2px;
}
.mgi_nav__mobile-base {
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.open-nav__mobile:checked ~ .mgi_nav__mobile-base {
  transform: translateX(0);
  opacity: 1;
}
.banner {
  background: url(http://zozothemes.com/html/epoint/demo/images/content/slider/9.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.banner:hover .mgi_top-slides__btn-right {
  transform: translateX(0);
  opacity: 1;
}
.banner:hover .slider__btn-left {
  transform: translateX(0);
  opacity: 1;
}
.mgi_top-slides__btn-right {
  transform: translateX(100px);
  transition: all 0.5s ease-in-out;
}
.mgi_top-slides__heading {
  animation: turnRight 0.5s ease-in-out;
}
@keyframes turnRight {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.mgi_top-slides__desc {
  animation: turnLeft 0.6s ease-in-out;
}
@keyframes turnLeft {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.mgi_top-slides__btn-link {
  animation: topDown 0.7s ease-in-out;
}
@keyframes topDown {
  0% {
    transform: translateY(-335px);
  }
  100% {
    transform: translateY(0);
  }
}
ul .dot.active {
  border: 2px solid;
  border-color: #fff;
}
.color-widget {
  transform: translateX(-85%);
  transition: all 0.5s ease-in-out;
}
.color-widget--input:checked ~ .color-widget {
  transform: translateX(0);
}
.search-base {
  display: none;
  opacity: 0;
}
.search-checkbox--input:checked ~ .search-base {
  display: block;
  opacity: 1;
}
.flex-slider {
  display: flex !important;
  align-items: flex-start;
}
.cart-base {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out-out;
}
.open-cart--checkbox:checked ~ .cart-base {
  display: block;
  opacity: 1;
}
.open-contact--input:checked ~ .mgi_modal__form {
  display: block;
  transition: all 0.5s ease-in-out-out;
  opacity: 1;
}
.open-contact--input:checked ~ .mgi_modal__overlay {
  display: block;
}
.mgi_modal__form {
  display: none;
}
.mgi_logo__slider::-webkit-scrollbar {
  width: 0;
}
