body {
  font-family: 'Poppins', sans-serif;
}
.mgi__header-nav:hover .mgi__header-nav--dropdown {
  display: block;
}
.side-nav__base {
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.side-nav__open:checked ~ .side-nav__base {
  transform: translateX(0);
  opacity: 1;
}
.nav__mobile-base {
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.open-nav__mobile:checked ~ .nav__mobile-base {
  transform: translateX(0);
  opacity: 1;
}
.banner {
  background: url(http://zozothemes.com/html/epoint/demo/images/content/slider/9.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.banner:hover .slider__btn-right {
  transform: translateX(0);
  opacity: 1;
}
.banner:hover .slider__btn-left {
  transform: translateX(0);
  opacity: 1;
}
.slider__btn-right {
  transform: translateX(100px);
  transition: all 0.3s ease-in-out;
}
.slider__btn-left {
  transform: translateX(-100px);
  transition: all 0.5s ease-in-out;
}
.mySlides {
  animation: textSlider 0.5s forwards;
}
@keyframes textSlider {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
li.active {
  border: 1px solid #3355ff;
  background-color: #3355ff;
}
.color-widget {
  transform: translateX(-85%);
  transition: all 0.5s ease-in-out;
}
.color-widget--input:checked ~ .color-widget {
  transform: translateX(0);
}
.search-base {
  display: none;
  opacity: 0;
}
.search-checkbox--input:checked ~ .search-base {
  display: block;
  opacity: 1;
}
